a {
  text-decoration: none !important;
  color: inherit;
}

body {
  background-color: #f3f4f6;
}
input {
  border: unset;
  outline: unset;
}
#root {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}
.m-0 {
  margin: 0 !important;
}
.bf_title {
  position: relative;
  color: rgb(88, 90, 94);
}
.bf_title::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  background: rgba(210, 214, 222, 1);
  height: 4px;
  border-radius: 20px;
  width: 60px;
}
header {
  backdrop-filter: blur(20px) !important;
  background-color: rgba(255, 255, 255, 0.72) !important;
  position: sticky;
  top: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 11;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #bdbdbd;
  /* background-image: url("../img/dribbble.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--textColor) !important;
  margin-top: 3rem;
}
.sp_authors {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
  border-radius: 16px;
}
.dark {
  background-color: rgba(14, 35, 56, 1) !important  ;
}
.dark * {
  color: #fff !important;
}
.dark header {
  background-color: rgb(10 24 37) !important;
}
.dark .sp_card {
  background-color: rgba(27, 52, 77, 1);
}
.dark .sp_box {
  background-color: rgba(27, 52, 77, 1);
}
.dark .sp_authors {
  background-color: rgba(27, 52, 77, 1);
}

/* switch */

.toggle-btn {
  position: relative;
  width: 55px;
  height: 34px;
  margin: 0 auto;
  border-radius: 40px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  /* background-color: rgba(236,238,239,1); */
  /* box-shadow: 0px 2px 25px #d9d9d9; */
  /* box-shadow: rgb(0 0 0 / 41%) 0 0px 10px -1px; */
  border: 1px solid rgb(189 189 189);
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 8px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: #fff;
  transform: translate(-58px, 0px);
  z-index: 1;
}

#_1st-toggle-btn span:after {
  background-color: rgb(189 189 189);
  transform: translate(-24px, -5px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: rgba(27, 49, 76, 1);
  border: 1px solid rgb(255, 255, 255);
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: rgba(27, 49, 76, 1);
  transform: translate(-13px, -13px);
}
#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(-3px, -5px);
}

/* First toggle btn completed */

svg {
  stroke: currentColor;
}

.ring-gr {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  opacity: 0.3;
}
.ring-gr span {
  display: block;
  position: absolute;
  left: 50%;
  border: 2px solid;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: signal 2.4s infinite alternate ease-in-out;
  -moz-animation: signal 2.4s infinite alternate ease-in-out;
  animation: signal 2.4s infinite alternate ease-in-out;
}

.ring-gr .ring-gr-item:nth-child(1) {
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  border-color: rgba(116, 187, 220, 0.9);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.9);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 90%);
  box-shadow: 0 0 80px rgb(107 208 255 / 90%);
}

.ring-gr .ring-gr-item:nth-child(2) {
  width: 130px;
  height: 130px;
  margin-top: -65px;
  margin-left: -65px;
  border-color: rgba(116, 187, 220, 0.8);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.8);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 80%);
  box-shadow: 0 0 80px rgb(107 208 255 / 80%);
}
.ring-gr .ring-gr-item:nth-child(3) {
  width: 230px;
  height: 230px;
  margin-top: -115px;
  margin-left: -115px;
  border-color: rgba(116, 187, 220, 0.7);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.7);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 70%);
  box-shadow: 0 0 80px rgb(107 208 255 / 70%);
}
.ring-gr .ring-gr-item:nth-child(4) {
  width: 370px;
  height: 370px;
  margin-top: -185px;
  margin-left: -185px;
  border-color: rgba(116, 187, 220, 0.6);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.6);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 60%);
  box-shadow: 0 0 80px rgb(107 208 255 / 60%);
}
.ring-gr .ring-gr-item:nth-child(5) {
  width: 550px;
  height: 550px;
  margin-top: -275px;
  margin-left: -275px;
  border-color: rgba(116, 187, 220, 0.5);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.5);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 50%);
  box-shadow: 0 0 80px rgb(107 208 255 / 50%);
}

.ring-gr .ring-gr-item:nth-child(6) {
  width: 770px;
  height: 770px;
  margin-top: -385px;
  margin-left: -385px;
  border-color: rgba(116, 187, 220, 0.4);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.4);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 40%);
  box-shadow: 0 0 80px rgb(107 208 255 / 40%);
}

.ring-gr .ring-gr-item:nth-child(7) {
  width: 1030px;
  height: 1030px;
  margin-top: -515px;
  margin-left: -515px;
  border-color: rgba(116, 187, 220, 0.3);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.3);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 30%);
  box-shadow: 0 0 80px rgb(107 208 255 / 30%);
}

.ring-gr .ring-gr-item:nth-child(8) {
  width: 1330px;
  height: 1330px;
  margin-top: -665px;
  margin-left: -665px;
  border-color: rgba(116, 187, 220, 0.2);
  -moz-box-shadow: 0 0 80px rgba(107, 208, 255, 0.2);
  -webkit-box-shadow: 0 0 80px rgb(107 208 255 / 20%);
  box-shadow: 0 0 80px rgb(107 208 255 / 20%);
}

.header-box {
  background-color: var(--blue);
  width: 100%;
  height: 15rem;
  border-radius: 3rem;
  margin-bottom: 7rem;
  position: relative;
}
.ring-gr-cont {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.search-box {
  position: absolute;
  bottom: -27px;
  right: 50%;
  transform: translateX(50%);
  width: 50%;
  height: 3.5rem;
  background-color: #f3f4f6;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0 0px 29px;
  overflow: hidden;
}
.search-box input {
  position: absolute;
  left: 0;
  padding: 0 25px 0 79px;
  right: 0;
  font-size: 18px;
  height: 100%;
}

.search-box-sm {
  position: relative;
  height: 100%;
}
.search-box-sm svg {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue);
}

:root {
  --violet: #703fc4;
  --blue: #277bc0;
  --textColor: rgb(88, 90, 94);
}
